/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  max-width: 500px;
  width: 100%;
  position: relative;
  margin: 0 auto; }

.d-none {
  display: none; }

.clearfix::after {
  content: "";
  clear: both;
  display: table; }

header {
  height: 3rem;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  z-index: 2; }
  header .inner {
    position: relative;
    padding: 0 1.8rem;
    max-width: 500px;
    margin: 0 auto; }
  header div {
    line-height: 3rem; }
  header #logo {
    float: left;
    font-weight: bold; }
  header .log {
    float: right;
    text-align: right;
    cursor: pointer;
    font-size: 0.9rem;
    color: #666; }

footer {
  height: 1rem;
  line-height: 1rem; }

#mainWrap {
  padding: 0 1.8rem;
  padding-top: 3rem; }
  #mainWrap #inputPage {
    height: 3rem;
    border-top: 1px solid #ededed;
    border-bottom: 1px solid #ededed;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }
    #mainWrap #inputPage input {
      border: 0;
      outline: 0;
      width: 80%;
      height: 2.9rem;
      font-size: 1.5rem;
      padding-left: 0.5rem;
      float: left;
      -webkit-box-sizing: border-box;
              box-sizing: border-box; }
    #mainWrap #inputPage .inputBtn {
      display: block;
      cursor: pointer;
      height: 3rem;
      width: 18%;
      float: right;
      line-height: 3rem;
      text-align: center;
      background-color: #20A3FF;
      color: #fff; }
  #mainWrap #listWrap .list {
    height: 3rem;
    border-top: 1px solid #ededed;
    border-bottom: 1px solid #ededed;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    position: relative; }
    #mainWrap #listWrap .list .info {
      height: 3rem;
      line-height: 3rem;
      float: left;
      width: 100%;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden; }
    #mainWrap #listWrap .list.on .info {
      width: calc( 100% - 6rem); }
    #mainWrap #listWrap .list .clicked {
      float: right;
      width: 6rem;
      display: none; }
      #mainWrap #listWrap .list .clicked .buy, #mainWrap #listWrap .list .clicked .delete {
        -webkit-box-flex: 1;
            -ms-flex: 1;
                flex: 1;
        height: 3rem;
        line-height: 3rem;
        color: #fff;
        text-align: center; }
      #mainWrap #listWrap .list .clicked .buy {
        background-color: #20A3FF; }
      #mainWrap #listWrap .list .clicked .delete {
        background-color: #999999; }
    #mainWrap #listWrap .list.on .clicked {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
