header{
    height: 3rem;
    position: fixed;
    top:0;
    left:0;
    width:100%;
    background-color: #fff;
    z-index: 2;
    .inner{
        position: relative;
        padding: 0 1.8rem;
    }
    div{
        line-height:3rem;
    }
    #logo{
        float:left;
        font-weight:bold;
    }
    .log{
        float:right;
        text-align: right;
        cursor:pointer;
        font-size: 0.9rem;
        color: #666;
    }
}