header{
    height: 3rem;
    padding: 0 1.8rem;
    div{
        line-height:3rem;
    }
    #logo{
        float:left;
    }
    .log{
        float:right;
        text-align: right;
        cursor:pointer;
    }
}