#mainWrap{
    padding: 0 1.8rem;
    padding-top:3rem;
    #inputPage{
        height:3rem;
        border-top: 1px solid #ededed;
        border-bottom: 1px solid #ededed;
        box-sizing: border-box;
        display: none;
        input{
            border:0;
            outline:0;
            width:80%;
            height:2.9rem;
            font-size:1.2rem;
            padding-left:0.5rem;
            float:left;
            box-sizing: border-box;
        }
        .inputBtn{
            display: block;
            cursor:pointer;
            height:3rem;
            width:18%;
            float:right;
            line-height:3rem;
            text-align: center;
            background-color: $color-1;
            color:#fff;
        }
    }
    #listWrap{
        .list{
            height:3rem;
            border-top: 1px solid #ededed;
            border-bottom: 1px solid #ededed;
            box-sizing: border-box;
            position: relative;
            .info{
                @include fix-height(3rem);
                float: left;
                width:100%;
                text-overflow : ellipsis;
                white-space:nowrap;
                overflow : hidden;
            }
            &.on{
                .info{
                    width: calc( 100% - 6rem );
                }
            }
            .clicked{
                float:right;
                width:6rem;
                display: none;
                .buy,.delete{
                    flex:1;
                    @include fix-height(3rem);
                    color:#fff;
                    text-align: center;
                }
                .buy{
                    background-color: $color-1;
                }
                .delete{
                    background-color: $color-2;
                }
            }
            &.on{
                .clicked{
                    display: flex;
                }
            }
        }
    }

}