//mixin
@mixin clearfix() {
  &::after {
    display: block;
    content: "";
    clear: both;
  }
}
@mixin fix-height($height){
	height:$height;
	line-height:$height;
}
@mixin f-left{
	float:left;
	display: inline-block;
}
@mixin f-right{
	float:right;
	display: inline-block;
}
@mixin f-left-2{
	float:left;
	display: inline-block;
	width:48%;
	margin-right:4%;
	&:nth-child(2n){
		margin-right:0;
	}
}
@mixin f-left-3{
	float:left;
	display: inline-block;
	width:32%;
	margin-right:2%;
	&:nth-child(3n){
		margin-right:0;
	}
}
@mixin f-left-4{
	float:left;
	display: inline-block;
	width:23.5%;
	margin-right:2%;
	&:nth-child(4n){
		margin-right:0;
	}
}
@mixin f-reset{
	float:none;
	display: block;
	width:100%;
	margin-right: 0;
}