//scss 변수 모음
$white: #fff !default;
$gray-1: #292f34 !default;//어두운 회색
$gray-2: #383f45 !default;//조금 어두운 회색
$gray-3 :#505962 !default;//밝은 회색

$black : #333 !default;
$blue : #075B97 !default;
$yellow : #ffa611 !default;//노란색
$green : #0A6843 !default;//녹색
$red : #f36a6a !default;//빨간색
$mint : #53cfc8 !default;//민트색

$color-1: #53cfc8 !default;//mint 동일
$color-2: #f36a6a !default;//red랑 동일
$color-3: #075B97 !default;//blue
$color-4: #f2f2f2 !default;//배경색
$color-5: #ecb807 !default;

$font-1:22px;
$font-2:20px;
$font-3:18px;
$font-4:15px;
$font-5:13px;

$web-w : 1200px;