//scss 변수 모음
$white: #fff !default;
$gray-1: #292f34 !default;//어두운 회색
$gray-2: #383f45 !default;//조금 어두운 회색
$gray-3 :#505962 !default;//밝은 회색

$black : #333 !default;
$blue : #20A3FF !default;
$yellow : #ffa611 !default;//노란색
$green : #0A6843 !default;//녹색
$red : #f36a6a !default;//빨간색
$mint : #53cfc8 !default;//민트색

$color-1: #20A3FF !default;//blue 동일
$color-2: #999999 !default;//회색

